#banner-image{
    background: url(img/anoTech_cover.jpg) no-repeat center;
    width: 100%;
    height: 650px;
    background-size: cover;
}

#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 16%;
    margin-bottom: 12%;
    color: rgb(248,248,248);
    max-width: 600px;
}

#train-section{
    background: url(img/training_cover.jpg) no-repeat center;
    width: 100%;
    height: 400px;
    background-size: cover;
}

.train-content{
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-top: 10%;
    max-height: 290px;
}

.body-color{
    background-color: #0f0f0f;
}

#test-section{
    background: url(img/testing_cover.jpg) no-repeat center;
    width: 100%;
    height: 400px;
    background-size: cover;
}
.test-content{
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-top: 10%;
    max-height: 290px;
}

#train-banner{
    background: url(img/training_cover.jpg) no-repeat center;
    width: 100%;
    height: 600px;
    background-size: cover;
}

#train_banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 16%;
    margin-bottom: 12%;
    color: rgb(248,248,248);
    max-width: 600px;
}

#test-banner{
    background: url(img/test_cover_new.jpg) no-repeat center;
    width: 100%;
    height: 600px;
    background-size: cover;
}

#test_banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 16%;
    margin-bottom: 12%;
    color: rgb(248,248,248);
    max-width: 600px;
}

.text-landing {
    /* font-weight: 600; */
    letter-spacing: .4rem;
    text-transform: uppercase;
}